<div class="custom-card-container my-4">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let data of cardData">
      <div class="card custom-card">
        <div class="card-header">
          <div class="row">
            <div class="col"><span class="card-text-small">{{ data.expense | uppercase }}</span></div>
            <div class="col-auto button-container">
              <button mat-icon-button class="edit-button" (click)="openBudget(data._id)">
                <i class="fa fa-pencil"></i>
              </button>
              <button mat-icon-button class="delete-button" (click)="deleteBudget(data._id)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-subtitle mb-2 text-muted">{{ data.expenseType }}</h5>
          <hr>
          <p class="card-text"><strong>Expense:</strong> {{ data.expense }}</p>
          <p class="card-text"><strong>Estimated Price:</strong> {{ data.estimatedPrice }}</p>
          <p class="card-text"><strong>Assigned To:</strong> {{ data.assignedTo }}</p>
          <hr>
          <p class="card-text"><strong>Last Updated Date:</strong> {{ data.lastUpdatedDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
