<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Guest</th>
            <th scope="col">Invite Medium</th>
            <th scope="col">Invite Sent</th>
            <th scope="col">@ Email</th>
            <th scope="col">Address</th>
            <th scope="col">Attendee</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark Otto</td>
            <td>Email</td>
            <td>Yes</td>
            <td>markotto@gmail.com</td>
            <td>1599 Francis Mine Chico, 987654</td>
            <td>Ashish</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark Otto</td>
            <td>Call</td>
            <td>No</td>
            <td>markotto@gmail.com</td>
            <td>1599 Francis Mine Chico, 987654</td>
            <td>Akash</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark Otto</td>
            <td>card</td>
            <td>Yes</td>
            <td>markotto@gmail.com</td>
            <td>1599 Francis Mine Chico, 987654</td>
            <td>Juhi</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark Otto</td>
            <td>SMS</td>
            <td>No</td>
            <td>markotto@gmail.com</td>
            <td>1599 Francis Mine Chico, 987654</td>
            <td>Abhik</td>
        </tr>
        <tr>
            <th scope="row"><span style="margin-right: 8px; margin-left: 5px;"><i class="fa fa-solid fa-plus"></i></span>Add</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

